<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{.Sign.Name}}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/detail.css">
</head>
<body>
    <!-- Хедер -->
    <div class="site-header">
        <div class="header-left">
            <a href="/signs">
                <img src="http://127.0.0.1:9000/manuscripts/british-museum-logo.svg" alt="Логотип" class="logo">
            </a>
        </div>
    </div>

    <!-- Заголовок + кнопка назад -->
    <div class="title-row center">
        <h1>{{.Sign.Name}}</h1>
    </div>

    <!-- Контент -->
    <div class="detail-container">
        <div class="detail-left">
            <img src="{{.Sign.ImageURL}}" alt="{{.Sign.Name}}" class="detail-image">
        </div>
        <div class="detail-right">
            <p class="detail-text">{{.Sign.Details}}</p>
            <p><b>Период использования:</b> {{.Sign.PeriodStart}} <b>-</b> {{.Sign.PeriodEnd}} </p>
        </div>
    </div>
</body>
</html>